/**
     <!-- Anchors (links) -->
    <a href="about.html" class="button">Learn More</a>
    <a href="#features" class="button disabled">View All Features</a>

    <!-- Buttons (actions) -->
    <button type="button" class="success button">Save</button>
    <button type="button" class="alert button">Delete</button>
*/
html,
body {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit; }

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #222222;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #2199e8;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

a:hover, a:focus {
    color: #1585cf;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    line-height: 1;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 1rem 1rem 0;
    font-size: 0.9rem;
    background: #2199e8;
    color: #fff;
}

[data-whatinput="mouse"] .button {
    outline: 0;
}

.button:hover,
.button:focus {
    background: #1583cc;
    color: #fff;
}

.button.disabled {
    opacity: 0.25;
    cursor: not-allowed;
    pointer-events: none;
}

/* Sizing */
.button.tiny {
    font-size: 0.6rem;
}
.button.small {
    font-size: 0.75rem;
}
.button.large {
    font-size: 1.25rem;
}
.button.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
